
@import '../../../colores.scss';
.container{
    display: flex;
    width: 100%;
   margin-top: 5vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
   

}

.texto{
    padding: 5%;
    padding-top: 7%;
    min-width: 350px;
    flex-grow: 1;
  /* border: 2px red solid; */
  width: 40%;
  font-family: Newsreader;
  font-size: 5vw;
 display: flex;
 justify-content: center;
 align-items: center;
  text-align:center;
  min-height: 250px;
}
hr{
  width: 99%;
  border: 1px solid #0000008a;
}


.login{
   flex-grow: 1;
    display: flex;
    
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin: 10px;
    padding: 10px 0;
    background-color: $color_secundario;
    border-radius: 20px;
    
    min-width: 410px;
    box-shadow: rgba(0, 0, 0, .4) 0px 54px 55px, rgba(0, 0, 0, .35) 0px -12px 30px, rgba(0, 0, 0, .2) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    /* border: 2px red solid; */
    
}

.login_input{
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, .4) 0px 5px 15px;

    
    width: 95%;
    height: 95%;
    background-color: bisque;
    border-radius: 20px;
}
.login_input .form1{

  font-family: Newsreader;
  display: flex;
  
  flex-direction: column;

  margin: 7px;

}
.login_input .form1 label{
    margin-left: 10px;
    
    font-size: large;
}

.nombres {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  
}

.nombres .form1{
  width: 45%;
  flex-grow: 1;
  min-width: 200px;
}

.login_input .form1 input{
  height: 30px;
  border-color: none;
  border: none;
  margin: 10px;
  border-radius: 20px;
  padding: 0 10px;
  
}


.login_input .form1 input:focus{
    outline: none;
  }

  .form{
    width: 100%;
  }
  .formbody{
    height: 80%;
  }
 
.login_input form .footerform{
   
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    height: 10%;
    
  }
  
  .footerform button{
    margin: 0 10px;
    font-family: Inter;
   
  
    background: #F1C376;
    border: none;
    
    padding: .3rem 1rem;
    border-radius: 1rem;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.footerform button:hover{
  
 

  background: #8e7243;
  
}
.footerform .asistencia{
  
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerform .asistencia input{
  
display: none;

}
.footerform .asistencia .checkbox{
  
margin: .5rem;
  display: inline-block;
  width: 20px; /* Ancho del círculo personalizado */
  height: 20px; /* Altura del círculo personalizado */
  background-color: #a70e0e; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el círculo sea redondo */
  cursor: pointer;
  position: relative;
  
 }
 .footerform .asistencia input:checked + .checkbox{
  
   background-color: #9ac490;
 }


.footerform .asistencia input:checked{
  
background-color:#F1C376;
 }

.invalid{
  color: #F1C376;
 border: 2px red solid;
 
}


#invalid-name{
  margin: 0px;
  margin-left: 10px;
  color: red;
  font-size: xx-small;
}
.form__btnGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  padding: 1.2rem 1.8rem;
  background-color: transparent;
  outline: 1px solid var(--form-borders);
  color: #fff; 
  font-weight: 600;
  border: none;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px #1f1f1fcc solid;
  transition: .2s ease-in-out;
  cursor: pointer;
}


.form__btnGoogle:hover {
  background-color: #3a3a3a39;
}

