footer{
    display: flex;
    background-color: #fff;
    height: 10vh;
    border-top: 10px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-color: #F1C376;
    border-style: solid;
    
}

.container{
    height: 90%;
    width: 90%;
    margin: 0 auto;
    padding: 1vh 0;
}
   
    
    
   
    
