<div class="container">
 <div class="main">

    <div class="nombres">
        <h1>Miguel <br>
            & <br>
            Paulina </h1>
    </div>
    <div class="fecha">
        <h2>Noviembre 2, 2024</h2>
    </div>
    <div class="clock">
      
       <div class="countdown">
      
            <div id="months" class="countdown1">{{ months }}   &nbsp;
                <div id="months">Meses&nbsp;</div> </div>
            <div id="days" class="countdown1">{{ days }}       &nbsp;
                <div id="days">Días&nbsp;</div></div>
            <div id="hours" class="countdown1">{{ hours }}     &nbsp;
                <div id="hours">Hrs&nbsp;</div></div>
            <div id="minutes" class="countdown1" >{{ minutes }} &nbsp;
             <div id="minutes">Min&nbsp;</div></div>
            <div id="seconds" class="countdown1">{{ seconds}} &nbsp; 
                <div id="seconds"> Seg</div> </div>
        
       
            
        </div>
        <div class="info"> 
          
            
           
           
           
            
        </div>
        
    </div>
</div>

</div>
