<div class="recuerdos">
  <div class="container">
    <div class="titulos">
      <div class="titulo">
        <h1>Recuerdos</h1>
      </div>
      <div class="botones">
        <div class="button">
          <input type="file" class="file" (change)="upload($event)" />
        </div>
      </div>
    </div>

    <hr />
    <div class="informacion">
        <div class="recuerdo" *ngFor="let recuerdo of recuerdos">
            <div class="imagen">
                <img [src]="recuerdo" >
            </div>
          
        </div>
    </div>
  </div>
</div>
