<div class="container">
    <div class="texto">
         Olvisdaste Tu Contraseña? <br> <br>
         No te pierdas la Boda !
    </div>
    <div class="login">
        <div class="login_input">
        
         <form  class="form">
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" #Email="ngModel"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="email" required>
          </div>
          <div *ngIf="Email.errors?.['pattern']" id="invalid-name">
            Favor de colocar un Email valido
          </div>
          <div
          *ngIf="Email.errors?.['required'] && Email.touched"
          id="invalid-name"
        >
          Favor de colocar un Email
        </div>
          
          <div class="footerform">
           <button>Enviar</button>
          </div>
        </form>
      
       
        </div>
    </div>
</div>
